.Card {
  width: 2em;
  height: 2.8em;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 0.1em;
  position: relative;
  margin: 0 0.2vh;
}

.BigCard {
  width: 2em;
  height: 2.8em;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 0.1em;
  position: relative;
  margin: 0 0.2vh;
  font-size: 2em;
}

.backside {
  width: 2em;
  height: 2.8em;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 0.1em solid rgb(126, 90, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 0.2vh;
}

.backsideImage {
  width: 200%;
  height: 200%;
  color: rgb(232, 128, 0);
}

.rank {
  font-size: 1.2em;
  font-weight: bold;
  align-self:self-start;
}

.suit {
  font-size: 1em;
  align-self:self-end;
  /* padding: 2px; */
}

.hearts {
  color: red;
}

.spades {
  color: black;
}

.clubs {
  color: green;
}

.diamonds {
  color: blue;
}
